<div class="foodentery">
    <div class="foodentery_item">
        <a class="food_link" href="">
            <span><img /></span>
            <span class="food_title"></span>
        </a>
    </div>
    <div class="foodentery_item">
         <a class="food_link" href="">
            <span><img /></span>
            <span class="food_title"></span>
        </a>
    </div>
    <div class="foodentery_item">
         <a class="food_link" href="">
            <span><img /></span>
            <span class="food_title"></span>
        </a>
    </div>
    <div class="foodentery_item">
         <a class="food_link" href="">
            <span><img /></span>
            <span class="food_title"></span>
        </a>
    </div>
    <div class="foodentery_item">
         <a class="food_link" href="">
            <span><img /></span>
            <span class="food_title"></span>
        </a>
    </div>
    <div class="foodentery_item">
         <a class="food_link" href="">
            <span><img /></span>
            <span class="food_title"></span>
        </a>
    </div>
    <div class="foodentery_item">
        <a class="food_link" href="">
            <span><img /></span>
            <span class="food_title"></span>
        </a>
    </div>
    <div class="foodentery_item">
         <a class="food_link" href="">
            <span><img /></span>
            <span class="food_title">默认页</span>
        </a>
    </div>
</div>