.footer_flex_box{
    position: fixed;
    bottom: 0;
    display: flex;
    left:0;
    flex-direction:row;
    flex-wrap: nowrap;
    width:100%;
    height: 2.9rem;
    border-top: solid lightgray 1px;
    z-index: 5px;
    
}
li{
   margin-top: .3rem;
    list-style:none; 
   
}
.footer_flex_item{
    display: flex;
    flex-direction:column;
     text-align: center;
     flex-grow: 1;
}
.footer_flex_item span{
    font-size: 0.5rem;
   
}
.title{
    transform: scale(0.8);
}
.footer_flex_item img{
    width:1.2rem;
    height:1.2rem;


}
 .active{
 color:#45B4FE;
}
