.footer_flex_box{
    position: fixed;
    bottom: 0;
    display: flex;
    left:0;
    flex-direction:row;
    flex-wrap: nowrap;
    width:100%;
    height: 2.9rem;
    box-shadow: 2px 2px 1px  gray ;
    z-index: 5px;
    
}
li{
 list-style:none; 
}
.footer_flex_item{
    display: flex;
    flex-direction:column;
     text-align: center;
     flex-grow: 1;
}
.footer_flex_item span{
    font-size: 0.01pt;
}