<div class="search">
    <div class="location">
        <span><img src="./img/dingwei.svg" /></span>
        <span class="location_name">北京亦庄文化科技北京亦庄文化科技</span>
    </div>
    <div class="weather">
        <div class="weather_detail">
            <div class="temperature_num">16</div>
            <div class="temperature_name">晴天</div>
        </div>
        <img src="./img/qt.png" />
    </div>
    <form class="search_form" action="">
        <input type="text" placeholder="搜索商家、商品" aria-label="搜索商家、商品" class="index-20Oji">
    </form>
</div>
<foodentery></foodentery>